<%# Calendar from the internet %>

<table border='1'  bordercolor='#FFFF00' cellspacing='0' cellpadding='0' align=center>
  <tr>
    <td>
      <table cellspacing='0' cellpadding='0' align=center width='100' border='1'>
        <tr>
          <td align=center bgcolor='#ffff00'>
            <font size='3' face='Tahoma'>
              <a href='#' rel="nofollow"><</a>
            </font> 
          </td>
          <td colspan=5 align=center bgcolor='#ffff00'>
            <font size='3' face='Tahoma'>14th - 20th Sep 2015 </font>
          </td>
          <td align=center bgcolor='#ffff00'>
            <font size='3' face='Tahoma'>
              <a href='#' rel="nofollow">></a>
            </font>
          </td>
        </tr>
      <tr>
        <td>
          <font size='3' face='Tahoma'><b>Time</b></font>
        </td>
        <td>
          <font size='3' face='Tahoma'><b>Mon</b></font>
        </td>
        <td>
          <font size='3' face='Tahoma'><b>Tue</b></font>
        </td>
        <td>
          <font size='3' face='Tahoma'><b>Wed</b></font>
        </td>
        <td>
          <font size='3' face='Tahoma'><b>Thu</b></font>
        </td>
        <td>
          <font size='3' face='Tahoma'><b>Fri</b></font>
        </td>
        <td>
          <font size='3' face='Tahoma'><b>Sat</b></font>
        </td>
        <td>
          <font size='3' face='Tahoma'><b>Sun</b></font>
        </td>
      </tr>
      <tr>
        <td valign=top>
          <font size='2' face='Tahoma'>9am</font>
        </td>
        <td valign=top>
          <font size='2' face='Tahoma'>
            <%= link_to 'free', new_appointment_path %>  
          <br>
          </font>
        </td>
        <td valign=top><font size='2' face='Tahoma'>busy 
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy 
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td>

<td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td>
 <td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td>

 </tr><tr><td valign=top><font size='2' face='Tahoma'>10am  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %> 
<br>

 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy 
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy 
<br>
 </font></td>

<td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td>
 </tr><tr><td valign=top><font size='2' face='Tahoma'>11am 
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy 
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy 
<br>
 </font></td>
<td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td>

 </tr><tr><td valign=top><font size='2' face='Tahoma'>12am  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>  
<br>
 </font></td>
<td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>  
<br>
 </font></td>

 </tr><tr><td valign=top><font size='2' face='Tahoma'>1pm  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %> 
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>busy 
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>
<br>
 </font></td>
<td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td>

 <td valign=top><font size='2' face='Tahoma'><%= link_to 'free', new_appointment_path %>  
<br>
 </font></td>

<td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td>

 <td valign=top><font size='2' face='Tahoma'>busy  
<br>
 </font></td>

 </tr></table></td></tr></table>
