<div id="booking-header"><%= @appointment.date %></div>

<%= link_to 'Add appointment', new_appointment_customer_path(@appointment) %>

<% @appointment.customer.each do |customer| %>
  <p><%= customer.name %></p>
  <p><%= customer.order_date %></p>
  <p><%= customer.phone_no %></p>
<% end %>